<!DOCTYPE html>
<head>
  <title>GameSchool</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!-- OGP -->
  <meta property="og:title" content="VR GameSchool"/>
  <meta property="og:image" content=""/>
  <meta property="og:description" content="GameSchool a VR and Unity Bootcamp"/>
  <meta property="og:url" content="http://gameschool.io/" />
  <!-- Fav Icon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <!-- Minimalist Font of Choice -->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300' rel='stylesheet' type='text/css'>
  <!-- CSS Style Sheet -->
  <link type="text/css" rel="stylesheet" href="/assets/css/site.css"/>
  <!-- Google Jquery and Jquery UI -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
</head>
<html>
<body>
  <!-- NAVIGATION BAR -->
  <nav>
    <div class="nav-container">
      <div class="logo-container">
        <div id="logo">
          <a href="/"><img src="/assets/icons/logo-sm.png">GameSchool</a>
        </div>
      </div>
      <!-- Navigation Links -->
      <div class="links-container">
        <div class="nav-link"><a href="/">home</a></div>
        <div class="nav-link"><a href="/views/about.html">about</a></div>
        <div class="nav-link"><a href="/views/who-we-are.html">who we are</a></div>
        <div class="nav-link"><a href="/views/classes.html">classes</a></div>
        <div class="nav-link btn exo sm" id="nav-signup">signup</div>
      </div>
      <!-- Menu -->
      <div class="ham-container">
        <div id="hambut">
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
      </div>
    </div>
  </nav>
  <!-- END NAVIGATION BAR -->

  <style>
  #space-me {
    margin-top: 75px;
  }
  </style>

  <!-- (1) Home Section Parallax -->
    <section id="img-parallax-3" data-type="background" data-speed="10">
      <div id="hero-text">
        <div class="section">
          <img src="/assets/images/logo2.png" height="125px" id="space-me">
        </div>
      </div>
    </section>

    <!-- (2) SLIDE 2 -->
      <div id="slide-2">
        <div class="container">
          <h1>What We Do</h1>
        </div>
    <!-- SECTION ONE -->
        <div class="container">
          <div class="section">
            <div class="content">
              <p>
                Hello
              </p>
            </div>
          </div>
    <!-- CLOSE HOME SLIDE -->
        </div>
      </div>

</body>
