html, body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Top Nav Bar */
nav {
  z-index: 2;
  position: fixed;
  background-color: rgba(255,255,255, 1);
  width: 100%;
  height: 75px;
}

/* Navigation Logo */
nav .logo-container {
  position: absolute;
}

nav #logo a {
  font-size: 1.5em;
  text-decoration: none;
  color: #7C519C;
}

nav #logo img {
  height: 25px;
  margin-right: 12px;
}

/* Navigation Link Styling */
nav .nav-container {
  padding-top: 0px;
}

.nav-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 15px;
}

.links-container {
  color: rgba(26, 188, 156, 1);
  margin-top: 25px;
  text-align: right;
}

.nav-link {
  display: inline;
  padding: 10px 25px 10px 25px;
  margin: 0px 15px 0px 15px;
  vertical-align: middle;
  color: #7C519C;
  border-bottom: 1px solid transparent;
  cursor: default;
}

.nav-link:hover {
  border-bottom: 1px solid #7C519C;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out; /* FF 4 */
    -webkit-transition: all 0.25s ease-in-out; /* Safari & Chrome */
    -o-transition: all 0.25s ease-in-out; /* Opera */
}

/* SIDE NAV BAR */
side-nav {
  z-index: 1;
  top:30%;
  position: fixed;
  right: 10px;
  text-align: left;
  padding: 15px 0 0 0;
}

/* REMOVE NAV ON IPHONE */
@media (max-width: 699px) {
  side-nav {
  display: none;
  }
}

side-nav h2 {
  margin-top: 0;
  display: inline-block;
}

/* NAV DOTS */
.dot{
  height: 10px;
  width: 10px;
  border: 1px solid #D4D1E9;
  background-color: none;
  border-radius: 50%;
  margin: 5px;
}
.dotactive {
  background-color: #D4D1E9;
}

/* FORM STUFFS */
form input {
  margin: 5px;
}

/* Text Box Styling */
.text-box {
  border: none;
  outline: none;
  height: 35px;
  width: 260px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 200;
  font-size: 1.5em;
  color: #2e2e2e;
  background-color: #f9f9f9;
  border: 2px solid transparent;
  transition: all 0.5s ease;
  padding-left: 5px;
}
.text-box:focus{
  border: 2px solid #D4D1E9;
}

/* BUTTON BTN CLASS */
.btn {
  border: none;
  outline: none;
  background-color: #7C519C;
  height: auto;
  width: auto;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  padding: 14px;
  transition: all 0.2s ease;
  -webkit-appearance: none;
}
.btn:hover {
  background-color: #a17ebc;
}
.btn:active {
  background-color: #7C519C;
}

/*Basic Container Styling*/
.container {
  margin: 25px 0 25px 0;
  text-align: center;
}

/* Start Button */
#start {
  font-size: 2em;
}

/* HOME SLIDE IPHONE CONTAINER STYLING */
@media (max-width: 699px) {
  /* Home Slide Image MOBILE */
  #slide-2 .container {
  margin: 0 0 25px 0;
  }
}

/* Hero Container */
.hero-container {
  margin: 50px 0 0 0;
  overflow: hidden;
}

/* HOME SLIDE */
#slide-2 {
  min-height: 50vh;
  height: auto;
  color: #6c7a89;
  background-color: white;
  overflow: hidden;
  /* To Make section1 Buttons Clickable */
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
}

/* Home Slide Hero Text */
#hero-text {
  position: fixed;
  width: 100%;
}

#hero-text .section {
  margin-top: 5%;
}

/* HOME SLIDE IMAGE STYLING */
#slide-2 img {
  height: 50px;
  padding-top: 75px;
}
/* HOME-SLIDE @MEDIA QUERY FOR IPHONE / MOBILE */
@media (max-width: 699px) {
  /* Home Slide Image MOBILE */
  #slide-2 {
    height: auto;
  }
  #slide-2 img {
    height: 50px;
  }
}

/* Home Slide Button */
#slide-2 .btn {
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
}

/* SLIDE CLASS */
.slide {
  width: 100%;
  text-align: left;
  color: white;
  background-color: #65c2c9;
  overflow: hidden;
}

@media (min-width: 699px){
  .slide {
    height: auto;
    min-height: 100vh;
  }
}

/* SLIDE @MEDIA QUERY FOR IPHONE / MOBILE */
@media (max-width: 699px) {
  .slide{
    height: auto;
  }
}

/* PROFILE PICTURE STYLING */
#prof-pic {
  border-radius: 50%;
  border: 8px solid #65c2c9;
    -webkit-transition: border-color 0.5s;
    -moz-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
}
#prof-pic:hover{
  border: 8px solid #c86b65;
}

#pro-me-pic {
  height: 150px;
  border-radius: 50%;
  border: 4px solid #65c2c9;
    -webkit-transition: border-color 0.5s;
    -moz-transition: border-color 0.5s;
    -o-transition: border-color 0.5s;
    transition: border-color 0.5s;
}

#pro-me-pic:hover {
  border: 4px solid #c86b65;
}

/* SECTION STYLING */
.section {
  text-align: center;
  display: inline-block;
  width: 300px;
}
.section-copy {
  font-size: 3em;
}
/*.section img {
  height: 125px;
}*/
/* SECTION FORM */
.section form {
  text-align: right;
}

/* ABOUT ME SLIDE - CUSTOM STYLING */
#slide-1 {
  background-color: white;
  color:#6C7A89;
  min-height: 55vh;
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
}
#slide-1 .section {
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
}
/* About Me Section Interests Icons */
.interest {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  transition: all 0.25s ease;
  cursor: default;
}

.interest:hover {
  border-bottom: 1px solid #7C519C;
  transition: all 0.25s ease;
}

/* Image Parallax Sections Styling*/
section .section {
  font-size: 1.25em;
  font-weight: 300;
  color:white;
  margin-top: 10%;
  width: 75%;
  text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
}

#mywork .container {
  margin: 0 auto;
  max-width: 1056px;
}

/* FEATURED WORK TILE */
.tile {
  display: inline-block;
  text-align: center;
  background-color: transparent;
  border: 4px solid transparent;
  height: 250px;
  width: 250px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.tile:hover {
  border: 4px solid #c1e6e9;
}
/* Tile Image Styling */
.tile img {
  height: 250px;
  width: auto;
}
/* Front Tile */
.tile-front {
}
/*Back Tile */
.tile-back {
  padding-top: 5px;
  height: 250px;
  background-color: #93d4d9;
}
/* App Details Section */
.app-details {
  padding: 16px;
  text-align: left;
}

/* TILE SECTION MEDIA QUERY IPHONE*/
@media (max-width: 699px) {
  .tile, .section {
    top: 0;
    left: 0;
    margin-left: -10px;
  }
  section .section {
    font-size: 1em;
  }
}

/* IMAGE PARALLAX STYLING */
#img-parallax-1 {
  background: url(../images/img-parallax-1.jpg) no-repeat fixed;
  background-size: 100%;
  height: 65vh;
  padding-top: 75px;
}

#img-parallax-2 {
  background: url(../images/img-parallax-2.jpg) no-repeat fixed;
  background-size: 100%;
  height: 65vh;
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
}

#img-parallax-3 {
  background: url(../images/img-parallax-3.jpg) no-repeat fixed;
  background-size: 100%;
  height: 65vh;
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
}

/* IMAGE PARALLAX IPHONE */
@media (max-width: 699px){
  #img-parallax-1 {
    background: url(../images/img-parallax-1.jpg) 50% 30% no-repeat fixed;
    background-size: 300%;
    height: 500px;
  }
  #img-parallax-2 {
    background: url(../images/img-parallax-2.jpg) 50% 100% no-repeat fixed;
    background-size: 300%;
    height: 350px;
  }
    #img-parallax-3 {
    background: url(../images/img-parallax-3.jpg) 50% 100% no-repeat fixed;
    background-size: 300%;
    height: 350px;
  }
}

/* Google Maps API iFrame */
#map-canvas {
  height:50vh;
  width:100%;
  padding: 0;
  border:0;
  pointer-events:none;
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
}

@media (max-width: 699px){
  #map-canvas {
    height: 350px;
    max-height: 350px;
  }
}

/* CONACT ME SLIDE - CUSTOM STYLING */
#contact-details {
  text-align: left;
}

#contact-details img {
  height: 20px;
  vertical-align: text-bottom;
}

#contactme {
  background-color: #3C214F;
  color:white;
  text-align: center;
  min-height: 50vh;
  transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
}

#contactme p {
  color:#D4D1E9;
}

@media (max-width: 699px){
  #contactme {
    max-height: 500px;
  }
  #contactme .slide {
    max-height: 500px;
  }
  #contact-details {
    text-align: center;
  }
}

/* SOCIAL MEDIA SECTION STYLING */
.socmed {
  padding: 5px;
  width: 100%;
}

.socmed img {
  height: 50px;
  width: 50px;
}

#twitter {
  background-color: #b9a0cd;
  transition: all 0.5s ease;
}

#facebook{
  background-color: #a17ebc;
  transition: all 0.5s ease;
}

#linkedin{
  background-color: #4875B4;
  transition: all 0.5s ease;
}

#github{
  background-color: #fd665f;
  transition: all 0.5s ease;
}

#angelist{
  background-color: #fbbd2e;
  transition: all 0.5s ease;
}

/* Soce Med Hover Styling */
#twitter:hover {
  padding-top: 35px;
}

#facebook:hover {
  padding-top: 35px;
}

#linkedin:hover {
  padding-top: 35px;
}

#github:hover {
  padding-top: 35px;
}

#angelist:hover {
  padding-top: 35px;
}
